@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,300;0,400;1,500&family=Roboto+Condensed:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,500;0,700;1,100;1,300&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
    padding:30px;
}


.heading{
    text-align: center;
    color:#502b09;
    margin:15px 0;
    font-size:40px;
}
.search-fild{
text-align: center;
}
#input-fild{
    margin-right: 0;
    padding-left: 5px;
    padding:5px;
    outline: none;
    background:#f35353;
    border-radius: 5px;
    color:#fff;
    border:1px solid #6b0404;
    font-size: 15px;
   

}
#search-btn{
    margin-left: 0;
    padding:5px;
    padding-left: 5px;
    outline: none;
    background:#f35353;
    border-radius: 5px;
    color:#fff;
    border:1px solid #6b0404;
    font-size: 15px;
}
#search-btn:hover{
    cursor:pointer;
}
.hr-line{
    margin: 15px 0 25px 0;
    background-color: #f35353;
    padding:1px;
    border-radius: 5px;
    border:none;
}
#container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 0 8%;
    text-align: center;
}
.card{
    /* border:1px solid; */
    width:220px;
    box-shadow:  1px 1px 8px #c4bdbd;
    text-align: center;
    border-radius: 10px;
    padding:10px
   
}
.img{
    width:200px;
    margin:auto;
    text-align: center;

}
.img img{
    width:100%;
    align-items: center;
}